[push]
	default = simple

[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[user]
	name = thomas
	email = thomas.treffry@nearform.com

[credential "https://github.com/"]
	username = lpww
	helper = /usr/lib/git-core/git-credential-libsecret

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
