#
# ~/.xprofile
#
#

# if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
#     eval "$(dbus-launch --sh-syntax --exit-with-session)"
# fi

# Environment variables
#

[[ -f ~/.extend.xprofile ]] && . ~/.extend.xprofile

### dwm
# set background
~/.fehbg &

# run slock on sleep
xss-lock slock &

# dwm status bar
/home/thomas/bin/dwm-statusbar &

### xmonad

# set background
# ~/.fehbg &

# run slock on sleep
# xss-lock slock &

# set the cursoe as pointer, otherwise X will appear as cursor
# xsetroot -cursor_name left_ptr

### fire up apps

# system tray
trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --width 5 --transparent true --tint 0x191970 --height 22 &

# nm-applet
if [ -x /usr/bin/nm-applet ] ; then
   nm-applet --sm-disable &
fi

# battery meter
# if [ -x /usr/bin/xfce4-power-manager ] ; then
#    sleep 3
#    xfce4-power-manager &
# fi

# start clipboard manager without icon
parcellite &
